.nav {
  position: fixed;
  width: 100%;
  background-color: #d6d6d6;
  box-shadow: 1px 1px 10px #000;
  font-family: Arial, Helvetica, sans-serif ;
}

.nav ul{
  list-style-type: none;
  text-decoration: none;
}

.nav li {
  float: left;
  padding: 15px;
}

.nav li:hover{
  background-color: white;
}

.nav a {
  color: black;
  text-decoration: none;
}
